.ttt-player-info-container {
}

.ttt-chat-log-container {
    max-height: 750px;
    min-height: 750px;
}

.ttt-gameboard-container {
}

    .ttt-gameboard-container .ttt-gameboard-row {
        margin: 0px;
    }

        .ttt-gameboard-container .ttt-gameboard-row .ttt-gameboard-cell {
            border: solid black 1px;
            text-align: center;
            padding: 0px !important;
            border: 0px !important;
            line-height: 150px;
        }

            .ttt-gameboard-container .ttt-gameboard-row .ttt-gameboard-cell button:hover {
                background: #20948B;
            }

            .ttt-gameboard-container .ttt-gameboard-row .ttt-gameboard-cell button {
                margin: 0px;
                padding: 0px;
                border: 0px;
                border-style: solid;
                border-color: black;
                outline: none;
            }

                .ttt-gameboard-container .ttt-gameboard-row .ttt-gameboard-cell button.top-left {
                    border-style: solid;
                    border-width: 0px 1px 1px 0px;
                    border-radius: 5px 0px 0px 0px;
                }

                .ttt-gameboard-container .ttt-gameboard-row .ttt-gameboard-cell button.top-middle {
                    border-style: solid;
                    border-width: 0px 1px 1px 1px;
                    border-radius: 0px;
                }

                .ttt-gameboard-container .ttt-gameboard-row .ttt-gameboard-cell button.top-right {
                    border-style: solid;
                    border-width: 0px 0px 1px 1px;
                    border-radius: 0px 5px 0px 0px;
                }

                .ttt-gameboard-container .ttt-gameboard-row .ttt-gameboard-cell button.middle-left {
                    border-style: solid;
                    border-width: 1px 1px 1px 0px;
                    border-radius: 0px;
                }

                .ttt-gameboard-container .ttt-gameboard-row .ttt-gameboard-cell button.middle-center {
                    border-style: solid;
                    border-width: 1px;
                    border-radius: 0px;
                }

                .ttt-gameboard-container .ttt-gameboard-row .ttt-gameboard-cell button.middle-right {
                    border-style: solid;
                    border-width: 1px 0px 1px 1px;
                    border-radius: 0px;
                }

                .ttt-gameboard-container .ttt-gameboard-row .ttt-gameboard-cell button.bottom-left {
                    border-style: solid;
                    border-width: 1px 1px 0px 0px;
                    border-radius: 0px 0px 0px 5px;
                }

                .ttt-gameboard-container .ttt-gameboard-row .ttt-gameboard-cell button.bottom-middle {
                    border-style: solid;
                    border-width: 1px 1px 0px 1px;
                    border-radius: 0px;
                }

                .ttt-gameboard-container .ttt-gameboard-row .ttt-gameboard-cell button.bottom-right {
                    border-style: solid;
                    border-width: 1px 0px 0px 1px;
                    border-radius: 0px 0px 5px 0px;
                }

            .ttt-gameboard-container .ttt-gameboard-row .ttt-gameboard-cell img {
                width: 80px;
                height: 80px;
                margin: auto;
                border: none;
            }
