@page "/"

<h1>Welcome to my Tic-Tac-Toe game</h1>
<p>I wanted to evaluate Blazor as a web framework so I decided to make a Tic-Tac-Toe game. The game is Player vs AI with the AI being fed its decisions from the <a href="https://en.wikipedia.org/wiki/Minimax">Minimax Algorithm</a>. I also made the AI a jerk.</p>
